<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p>James Chen (jzc24)</p>
            <p>Vivian Chu (vc249)</p>
            <p>Travis Beach (trb96)</p>
            <p>Alex Sabia (as2633)</p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <h1 id="title">
                Moodlist
            </h1><br>
            <p id="under">Find music that feels like you.</p>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="What song is on your mind?">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        
        <div class="form-inline global-search">
            <h4>Output</h4><br>
            {% for line in output %}
                {{line}}<br>
            {% endfor %}
            
            <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- Showing the page numbers in Html Page -->
                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
</html>